@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family:'Space mono';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     /* vh- viewport height , takes the entire height of the browser */
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 480px;
  }

  .progress-container::before {
    content: '';
    background-color: rgb(217, 233, 234);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
  }

  .progress {
    background-color: rgb(30, 186, 200);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }

.circle {
    background-color: white;
    color: rgb(217, 233, 234);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(217, 233, 234);
    transition: 0.4s ease;
  }

.circle.active{
    border-color: rgb(30, 186, 200);
}

.hide {
    display: none;
    position: absolute;
    min-width: 260px;
    z-index: -1;
    font-size: 10px;

}  

 .circle:hover + .hide {
    display: block;
    text-decoration: none;
    padding: 130px 210px;
}

.btn {
    background-color: rgb(30, 186, 200);
    color: #100f0f;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: space mono;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn:focus {
    outline: 0;
  }
  
  .btn:disabled {
    background-color: rgb(217, 233, 234);
    cursor: not-allowed;
  }

button {
  background-color: rgb(30, 186, 200);
  color: #100f0f;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: space mono;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px; 
}

button:hover {
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

button:focus {
    box-shadow: rgba(198, 188, 188, 0.3) 2px 8px 4px -6px;
}